.advantages{
  background-color: @color-bl;
  text-align: center;
  color: white;
}

.advantages__head{
  margin: 0;
  padding-top: 40px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number{
  margin: 0;
  padding: 20px 0;
}

.advantages__text{
  margin: 0;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__img-link{
  display: block;
}

.advantages__list{
  list-style: none;
  margin: 0;
  padding: 0 18px;
  background-color: #eee;
  color: black;
}

.advantages__description{
  border-bottom: 1px solid #d6d6d6;
}

.advantages__description:last-child{
  border: none;
}


@media (min-width: @tablet_width){
  
  .advantages{
    display: flex;
  }
  
  .advantages__img{
    width: 67%;
  }
  
  .advantages__description{
    width: 33%;
    padding: 0 45px;
  }
  
  .advantages__text{
    padding: 0;
  }
  
  .advantages__list{
    display: flex;
    padding: 39px 0;
  }
  
  .advantages__description{
    border: none;
  }
  
  .advantages__description--bridge{
    order: 2;
  }
  
  .advantages__head{
    font-size: 21px;
  }
  
}


@media (min-width: @desktop_width){
  
  .advantages__img-link{
    height: 260px;
  }
  
  .advantages__description{
    padding: 0 105px;
  }
  
  .advantages__head{
    padding: 0 50px;
    padding-top: 57px;
  }

}






