.advantages{
  background-color: @color-bl;
  text-align: center;
  color: white;
}

.advantages__head{
  margin: 0 auto;
  padding-top: 40px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number{
  margin: 0;
  padding-top: 8px;
  padding-bottom: 15px;
}

.advantages__text{
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__text--transfer{
  display: none;
}

.advantages__img-link{
  display: block;
  width: 100%;
}

.advantages__list{
  list-style: none;
  margin: 0;
  padding: 0 18px;
  background-color: #eee;
  color: black;
}

.advantages__description{
  border-bottom: 1px solid #d6d6d6;
  padding: 0 18px;
}

.advantages__description:last-child{
  border: none;
}

.advantages__head--other{
  padding-top: 25px;

}

.advantages__text--other{
  padding-bottom: 30px;
}


@media (min-width: @tablet_width){
  
  .advantages{
    display: flex;
  }
  
  .advantages__img{
    width: 67%;
  }
  
  .advantages__description{
    width: 28.7%;
    border: none;
  }
  
  .advantages__text{
    padding: 0;
  }
  
  .advantages__list{
    display: flex;
    width: 100%;
    padding: 0;
    padding-bottom: 43px;
  }
  
  .advantages__head{
    font-size: 21px;
    width: 200px;
    padding-top: 46px;
  }
  
  .advantages__text{
    width: 165px;
  }
  
  
  
  
  .advantages__head--other{
    padding-top: 41px;
    width: 147px;
  }
  
  .advantages__description--other{
    margin: 0;
    padding: 0;
    width: 22%;
    
    &:nth-child(2){
      width: 19%;
    }
    
    &:first-child{
      margin-left: 43px;
      margin-right: auto;
    }
    
    &:last-child{
      margin-right: 43px;
      margin-left: auto;
    }
  }
  
  .advantages__text--other{
    margin: 0 auto;
    padding: 0;
    width: auto;
  }

  
  
  
  
 
  
  .advantages__description--bridge{
    order: 2;
  }
  
  
  .advantages__head--bridge{
    width: 150px;
  }
  

  
  .advantages__number{
    padding-bottom: 23px
  }
  
  
}


@media (min-width: @desktop_width){
  
  .advantages__img-link{
    height: 260px;
  }
  
  .advantages__head{
    padding: 0 50px;
    padding-top: 50px;
  }
  
  .advantages__text{
    width: 270px;
  }
  
  .advantages__text--transfer{
    display: block;
  }
  
  .advantages__img-link{
    height: 255px;
  }
  
  .advantages__description{
    width: 30.7%;
  }
  
  .advantages__description--other{
    width: 22%;
    &:first-child{
      margin-left: 40px;
    }
    
    &:last-child{
      margin-right: 70px;
    }
  }
  
  .advantages__list{
    padding-bottom: 61px;
  }
  
  
}






