.feedback__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedback__item-head{
  margin: 0;
  padding: 20px 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.feedback__item{
  border-bottom: 1px solid #e5e5e5;
}

.feedback__present-item{
  list-style: none;
}

.feedback__impression-item{
  list-style: none;
}

.feedback__present-input{
  width: 189px;
  border: none;
  background-color: #f2f2f2;
  height: 57px;
  margin-bottom: 20px;
  margin-left: 13px;
}

.feedback__present-label{
  color: #333333;
}

.feedback__present-input--name{
  width: 229px;
}

.feedback__info-item{
  list-style: none;
}

.feedback__info-item-input{
  width: 280px;
  height: 57px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: none;
  background-color: #f2f2f2;
}

.feedback__box{
  border: none;
}

.feedback__impression-item{
  height: 60px;
  font-weight: bold;
}

.feedback__adventages-item{
  list-style: none;
  height: 55px;
  font-weight: bold;
}

.feedback__emotion-input{
  width: 280px;
  height: 160px;
  background-color: #f2f2f2;
  border: none;
  margin-left: 20px;
}

.feedback__item:last-child{
  border: none;
  padding-bottom: 50px;
}

.feedback__button{
  margin-left: 20px;
}








