.gallery__list{
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
}

.gallery__item{
  padding: 0 20px;
  padding-top: 23px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.gallery__item-fon{
  display: block;
  width: 100%;
}

.gallery__item-header{
  font-size: 14px;
  margin: 0;
  padding-top: 18px;
}

.gallery__item-author{
  text-transform: none;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 11px;
}

.gallery__item-btn{
  border: none;
  background-color: white;
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  &::before{
    position: absolute;
    content: '';
    width: 22px;
    height: 20px;
    background-image: url(../../img/icon-like.svg);
    opacity: 0.3;
    left: 0;
    top: -5px;
  }
}

@media (min-width: @tablet_width){
  
 
  
  .gallery__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    border: none;
  }
  
  .gallery__item{
    width: 50%;
    border: none; 
    padding: 0;
    
    &:first-child{
    width: 100%; 
    }
  }
  
  .gallery-author{
    position: relative;
    background-color: #f2f2f2;
    padding: 0 20px;
  }
  
  .gallery__item-header{
    margin: 0;
    padding-top: 15px;
  }
  
  .gallery__item-author{
    margin: 0;
    padding-bottom: 20px; 
  }
  
  .gallery__item-btn{
    position: absolute;
    left: 268px;
    top: 41%;
    transform: translate(-50%);
    background-color: #f2f2f2;
  }
  
  .gallery__item-btn--first{
    top: 43%;
    left: 597px;
  }
  
  .gallery__item-fon{
    height: 267px;
  }
  
  .gallery__item-fon--first{
    height: 400px;
  }
  
  
}

@media (min-width: @desktop_width){
  .gallery__item{
    width: 400px;
  }
  .gallery__item:first-child{
    width: 100%;
  }
  
  .gallery__list{
    padding: 0;
  }
  
  .gallery-author{
    position: relative;
    margin-top: -74px;
    background-color:rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  
  
  .gallery__item-header{
    padding-top: 12px;
  }
  
  .gallery__item-author{
    padding-bottom: 16px; 
  }
  
  .gallery__item-btn{
    top: 37%;
    left: 85.5%;
    background-color: transparent;
    color: white;

    &::before{
      background-image: url(../../img/icon-like-white.svg);
      opacity: 1;
    }
    
  }
  
  .gallery__item-btn--first{
    top: 35%;
    left: 95.5%;
  }
}





