.search{
  text-align: center;
  padding-top: 29px;
  padding-bottom: 50px;
}

.search__head{
  margin: 0;
  padding-bottom: 22px;
}

.search__text{
  width: 290px;
  margin: 0 auto;
  padding-bottom: 36px;
  line-height: 24px;
}

.search__text--tablet{
  display: none;
}

.button{
  margin: 0 auto;
  background-color: @color-bl;
  color: white;
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 15px 48px;
  border: none;
  cursor: pointer;
  
  &:hover{
    background-color: #669ec0;
  }
  
  &:active{
    background-color: #5496bd;
    color: #94b9d2;
  }
}

.search__map__img{
  display: block;
}

@media (min-width: @tablet_width){
  
  .search{
    padding-top: 58px;
    padding-bottom: 60px;
  }
  
  .search__head{
    font-size: 30px;
  }
  
  .search__text{
    display: none;
  }
  
  .search__text--tablet{
    display: block;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 46px;
  }
  
  .search__button{
    padding: 15px 135px;
  }
  
  .search__map__img{
    width: 100%;
  }  
}

@media (min-width: @desktop_width){
  
  .search__text{
    padding: 0 400px;
    padding-bottom: 40px;
  }
  
  .search{
    padding-bottom: 69px; 
  }
  
}
