.search{
  text-align: center;
  padding-top: 29px;
  padding-bottom: 66px;
}

.search__head{
  margin: 0;
  padding-bottom: 22px;
}

.search__text{
  width: 285px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 24px;
}

.search__text--transfer{
  display: none;
}

.button{
  margin: 0 auto;
  text-decoration: none;
  background-color: @color-bl;
  color: white;
  font-family: "PT Sans", "Arial";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 15px 48px;
  border: none;
  cursor: pointer;
  
  &:hover{
    background-color: #669ec0;
  }
  
  &:active{
    background-color: #5496bd;
    color: #94b9d2;
  }
  
  &:disabled{
    background-color: #e5e5e5;
  }
}

.search-map__img{
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: @tablet_width){
  
  .search{
    padding-top: 58px;
    padding-bottom: 74px;
  }
  
  .search__head{
    font-size: 30px;
    padding-bottom: 33px;
  }
  
  .search__text{
    width: 480px;
    padding-bottom: 58px;
  }
  .search__text--transfer{
  display: block;
  }
  
  .search__button{
    padding: 15px 135px;
  }
  
}

@media (min-width: @desktop_width){
  
  .search__text{
    padding-bottom: 62px;
  }
  
  .search{
    padding-bottom: 82px; 
  }
  
  .search__head{
    padding-bottom: 37px;
  }
  
}
