.slogan{
  height: 240px;
  text-align: center;
  position: relative;
}

.slogan__header{
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 45px;
  padding-bottom: 40px;
  margin: 0;
}

.slogan__text{
  margin: 0 auto;

}

.slogan__triangle{
  background-image: url(..//..//img/bg-intro-triangle-mobile-blue.svg);
  background-repeat: no-repeat;
}

.slogan--form{
  border-bottom: 1px solid #e5e5e5;
}

.slogan__text--photo{
  width: 295px;
}

.slogan__text--video{
  width: 290px;
}

@media (min-width: @tablet_width){
  
  .slogan__triangle{
    display: none;
  }
  
  .slogan{
    width: 500px;
    margin: 0 auto;
  }
  
  .slogan__header{
    font-size: 21px;
  }
  
  .slogan__header--photo{
    font-size: 30px;
  }
  
  .slogan__text--photo{
    width: 440px;
  }
  
  .slogan__text--video{
    width: 415px;
  }
}
