.video{
  text-align: center;
}

.video__link{
  height: 340px;
}

@media (min-width: @tablet_width){
  .video__link{
    height: 616px;
  }
  
}

@media (min-width: @desktop_width){
  .video__link{
    height: 655px;
  }
  
}