.video{
  text-align: center;
}

.video__img-wrap{
  margin: 0 auto;
  padding-top: 35px;
}

.video__img{
  display: block;
}

.video__wrap{
  margin: 0 auto;
  margin-top: -45px;
  padding-bottom: 40px;
}

.video__list{
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 280px;
  background-color: #f2f2f2;
  height: 112px;
  align-items: center;
  
  display: flex;
  flex-wrap: wrap;
}

.video__item{
  position: relative;
  
  
  &:first-child{
    width: 100%;
    height: 45px;
    background-color: black;
    opacity: 0.6;
  }
  
  &:nth-child(2){
    margin-left: 26px;
    margin-right: auto;
  }
  
  &:last-child{
    margin-right: 10px;
    margin-left: 31px;
  }
}

.video__btn{
  border: none;
  background-color: transparent;
  width: 32px;
  height: 20px;
  background-repeat: no-repeat;
}

.video__btn--replay{
  background-image: url(../../img/icon-video-replay-mobile.svg);
}

.video__btn--sub{
  background-image: url(../../img/icon-video-subtitles-mobile.svg);
}

.video__btn--full{
  background-image: url(../../img/icon-video-fullscreen-mobile.svg);
}


.video__btn--progress{
  position: absolute;
  content: '';
  width: 9px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 57px;
}
.video__btn-line{
  content: '';
  position: absolute;
  width: 235px;
  height: 3px;
  background-color:white; 
  opacity: 0.2;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);  
}



@media (min-width: @tablet_width){
  
  .video__img-wrap{
    padding-top: 72px;
  }
  
  .video__img{
    width: 645px;
    height: 500px;
    margin: 0 auto;
  }
  
  .video__wrap{
    margin-top: -92px;
    padding: 0 60px;
  }
  
  .video__list{
    width: 100%;
    background-color: black;
    opacity: 0.6;
    height: 92px;
  }
  
  .video__btn--replay{
    background-image: url(../../img/icon-video-replay-tablet.svg);
  }

  .video__btn--sub{
    background-image: url(../../img/icon-video-subtitles-tablet.svg);
  }

  .video__btn--full{
    background-image: url(../../img/icon-video-fullscreen-tablet.svg);
  }
  
  .video__btn-line{
    width: 390px;
    left: -10px
  }
  
  .video__btn--progress{
    left: 103px;
  }
  
  .video__item{
    margin: 0;
    margin-left: 35px;
  
  &:first-child{
    opacity: 1;
    width: 390px;
  }
  
  &:nth-child(2){
    order: -1;
    margin-right: 0px;
    margin-left: 35px;
    } 
  }
  
  .video{
    padding-bottom: 42px;
  }

  
} 

@media (min-width: @desktop_width){
  
  .video__img{
    width: 800px;
    height: 500px;
  }
  
  .video__wrap{
    padding: 0 200px;
  }
  
  .video__btn-line{
    width: 540px;
  }
  
  .video__item{
      
  &:first-child{
    margin-right: 147px
    }
  }
  
  .video{
    padding-bottom: 84px;
  }
}